<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" asp-action="Index" asp-controller="Home" asp-area="Admin"><img style="width:64px; height:32px;" src="~/media/NavBarImage/logo.jpg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="Home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Add" asp-controller="Movie" tabindex="-1" aria-disabled="true">Add Movie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="List" asp-controller="Movie" tabindex="-1" aria-disabled="true">Movie List</a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-item" asp-action="Profile" asp-area="Admin">@User.Identity.Name</a>
                </li>
            }

        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>