@model IMDB.Infrastructure.VM.MovieCategoryVM
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<form asp-action="" method="post">
    <div id="alert" class="alert alert-success" style="visibility:hidden">Film Eklendi</div>
    <div class="form-group col-md-4">
        <label for="exampleFormControlInput1">Movie Name</label>
        <input asp-for="Movie.Name" class="form-control" id="name" placeholder="Movie Name" >
    </div>
    <div class="form-group col-md-8">
        <label for="exampleFormControlInput1">Descreption</label>
        <textarea asp-for="Movie.Descreption" class="form-control" id="descreption" placeholder="Descreption"></textarea>
    </div>
    <div class="form-group col-md-6">
        <label for="categoryName">Please choose Category</label>
        <select class="form-control" id="categoryName" name="categoryName">
            @foreach (var item in Model.Categories)
            {
                <option>@item.Name</option>
            }

        </select>
    </div>
    <div class="form-group col-md-4">
        <input type="button" id="ekle" value="Add"/>
    </div>
 </form>



@section Scripts{
    <script>
        document.querySelector("#ekle").addEventListener('click', ekle);
        function ekle() {
            //document.getElementById("categoryName").multiple = true;
            var name = $("#name").val();
            var categoryName = $("#categoryName").val();
            var descreption = $("#descreption").val();
            $.ajax({
                dataType: 'JSON',
                data: { "name": name, "categoryName": categoryName, "descreption": descreption },
                type: 'POST',
                url: "/Admin/Movie/Add",
                success: function () {
                    $("#alert").css({ "visibility": "visible" });
                }
            });

        };
    </script>
}



